Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-ina219
adafruit-circuitpython-ina260
adafruit-circuitpython-mlx90393
adafruit-circuitpython-register
adafruit-circuitpython-bmp280
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-max31855
adafruit-circuitpython-max31865
adafruit-circuitpython-ads1x15
adafruit-circuitpython-adxl34x
adafruit-circuitpython-mcp4725
adafruit-circuitpython-tcs34725
adafruit-circuitpython-vl53l0x
adafruit-circuitpython-vl53l1x
Adafruit-PlatformDetect
Adafruit-PureIO
pyftdi
pyserial
pyusb
sysv-ipc
websockets
w1thermsensor
PyYAML
numpy
rpi-ws281x
RPi.GPIO
radiacode
pyaudio
